<h2>Add new food recipe</h2>

<%= form_for @recipe, url: recipes_path do |form| %>
  <div class="input noBorder">
    <%= form.text_field :name, placeholder: "Recipe title...", required: true%>
  </div>
  <div class="input noBorder">
    <%= form.text_field :description, placeholder: "Recipe description...", required: true%>
  </div>
    <div class="input noBorder">
    <%= form.text_field :preparation_time_minutes, placeholder: "Preparation time in minutes", required: true%>
  </div>
  <div class="input noBorder">
    <%= form.text_field :cooking_time_minutes, placeholder: "Cooking time in minutes", required: true%>
  </div>  
  <div class="input noBorder">
    <%= form.select :is_public, options_for_select(['true', 'false']), prompt: 'Publuc or private?' %>
  </div>
  <div class="btn noBorder">
  <%= form.submit "Create Recipe"%>
  </div>
 <%end%>
