<h2>Add new food recipe</h2>

<%= form_for @recipe, url: recipes_path do |form| %>
  <div class="input">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Recipe title...", required: true%>
  </div>
  <div class="input">
    <%= form.label  :description %>
    <%= form.text_field :description, placeholder: "Recipe description...", required: true%>
  </div>
    <div class="input">
    <%= form.label  :preparation_time_minutes %>
    <%= form.text_field :preparation_time_minutes, placeholder: "Preparation time in minutes", required: true%>
  </div>
  <div class="input">
    <%= form.label  :cooking_time_minutes %>
    <%= form.text_field :cooking_time_minutes, placeholder: "Cooking time in minutes", required: true%>
  </div>
  <div class="field">
    <%= form.label :is_public %>
    <%= form.check_box :is_public %>
  </div>
   <div class="input">
        <%= form.label :is_public %>
        <%= form.select :is_public, options_for_select(['true', 'false']), prompt: 'Select a category' %>
      </div>
  <%= form.submit "Create Recipe" %>
 <%end%>
