<h1>this is show view <%= @recipe.id %></h1>
<section class="recipe-details">
    <div class="d-flex gap">
        <p>Preparation time: <%= @recipe.preparation_time_minutes %> mins </p>
        <div class="slider-container">
            <span class="switch-label">Public</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <p>Cooking time: <%= @recipe.cooking_time_minutes %> mins </p>
    <p>Steps go here...</p>
    <div class="d-flex gap bottom-line p-1">
        <%= button_to "Generate shopping list", new_food_path, method: :post, class: "btn btn-primary" %>
        <%= button_to "Add ingredient", new_food_path, method: :post, class: "btn btn-primary" %>
    </div>
</section>
<table class="table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td>
            <%= link_to 'Delete', food_path(food), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
