<ul class="nav nav-underline navbar-dark bg-dark">
<%= link_to 'Recipe App', root_path, class:"navbar-brand" %>
   <% if user_signed_in? %>
  <li class="nav-item">
     <%= link_to "Sign Out", new_recipe_path, method: :delete, class:"nav-link" %>
  </li>
  <%# public recipes %>
  <li class="nav-item">
    <%= link_to "Public Recipes", public_recipes_path, class:"nav-link" %>
  </li>
  <%# my recipes %>
  <li class="nav-item">
    <%= link_to "My Recipes", recipes_path, method: :delete, class:"nav-link" %>
  </li>
  <%# add recipe %>
   <li class="nav-item">
      <%= link_to "New Recipe", new_recipe_path, method: :delete, class:"nav-link" %>
    </li>
  <%# foods %>
  <li class="nav-item">
    <%= link_to "Food", foods_path, class:"nav-link" %>
  </li>
  <%# add foods %>
   <li class="nav-item">
       <%= link_to "Add Food", new_food_path, class:"nav-link" %>
  </li>
  <%# shopping list %>
    <li class="nav-item">
       <%= link_to "Shopping list", general_shopping_list_recipe_path, class:"nav-link" %>
  </li>
    <% else %>
  <li class="nav-item">
    <%= link_to "Sign Up/In", new_user_session_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Public Recipes", public_recipes_path, class:"nav-link" %>
  </li>

    <% end %>
  
</ul>
