<%= button_to "Add Food", new_food_path, method: :post, class: "btn btn-primary" %>
<h1>foods page</h1>
<table class="table" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="background-color: #f2f2f2; padding: 10px;">Food</th>
      <th style="background-color: #f2f2f2; padding: 10px;">Measurement unit</th>
      <th style="background-color: #f2f2f2; padding: 10px;">Unit price</th>
      <th style="background-color: #f2f2f2; padding: 10px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td style="border: 1px solid #ddd; padding: 10px;"><%= food.name %></td>
        <td style="border: 1px solid #ddd; padding: 10px;"><%= food.measurement_unit %></td>
        <td style="border: 1px solid #ddd; padding: 10px;"><%= food.price %></td>
        <td style="border: 1px solid #ddd; padding: 10px;">
            <%= link_to 'Delete', food_path(food), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
